body {
	margin: 0 auto;
	padding: 0;
	width: 960px;
    font-family: "Times New Roman",Courier, sans-serif, Serif, arial;
}

h1, h2, h3, h4 {
    color: #121;
    padding-bottom: 0px;
    margin-bottom: 3px;
}

h2, h4 {
	border-bottom: 1px dotted;
}

label {
	width: 100px;
	display: block;
}

#menu {
	width: 960px;
	text-align: right;
	padding-right: 80px;
}

#l-column {
	padding: 5px;
	float: left;
	width: 15%;	
}

#toolbox {
	border-bottom: 1px dotted;
	padding-bottom: 10px;
}

#toolbox ul {
	padding: 0px;
	margin: 0px;
}

#toolbox ul li {
	list-style-type: none;
}

#linkbox {
	border-bottom: 1px dotted;
	padding-bottom: 10px;
}

#linkbox ul {
	padding: 0px;
	margin: 0px;
}

#linkbox ul li {
	list-style-type: none;
}

#main {
	float: left;
	padding: 20px;
	border-left: 1px solid;
	min-width: 750px;
	min-height: 750px;
}

.info {
	margin-left: 20px;
	padding: 10px;
	font-family: 'Courier New', sans-serif, "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",  'Arial';
	background-color: mintcream;
	border: 1px solid;
	font-size: 12px;
}

#add_host {
	float: right;	
}

.list_host {
	padding: 0 0 0 25px;	
}

.ringheader {
	background: mintcream;
	border-bottom: 1px solid black;
}

.status_ok {
	color: green;
	font: bold;
}

.pwd_info {
	display: none;
	color: green;
}

.message {
	font-family: Georgia, serif;
}

.error {
	color: red;
	font-family: Georgia, serif;
}

.successfully {
	color: green;
	font-family: Georgia, serif;
}