h1 { text-align: center;}
.green { color: #85f785; text-shadow: 0 0 2px #85f785; }

.blue { color: #89fafa; text-shadow: 0 0 2px #89fafa; }

.orange { color:#e5d06b; text-shadow: 0 0 2px #e5d06b; }

.red { color: #e73024; text-shadow: 0 0 2px #e73024; }

.white { color: #ffffff; text-shadow: 0 0 2px #ffffff; }

.hostform {
    /* width: 90%;*/
    margin: 5px auto;
}

.statusbar {
    margin: 15px auto;
    line-height: 15px;
}

#action {
    margin: 5px auto;
}

#actionstatus {
    padding: 5px;
    margin: 5px auto;
    height: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}
.page {
    height: 600px;
    margin: 30px auto;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #585858;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#status {
    padding: 25px;
    text-align: right; 
}


#data { 
    padding: 25px;
    margin-right: 5px;
    height: 483px;
    overflow-y: auto; 
    overflow-x: hidden;
}

#data::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#data::-webkit-scrollbar-button:start:decrement, 
#data::-webkit-scrollbar-button:end:increment {
    height: 8px;
    display: block;
    background-color: transparent;
}

#data::-webkit-scrollbar-track-piece {
    background-color: #545454;
    -webkit-border-radius: 4px;
}

#data::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: #7a7a7a;
    border: 1px solid #919191;
    -webkit-border-radius: 6px;
}
.comments {
    color: #deab8a;
    size: 9px;
}
