{% extends "layout.html"%}
{% set title = "Admin" %}
{% block left%}
<div id="l-column">
	    <ul>
	    	<li><a href="{{url_for('admin.ssh')}}" >SSH</a> </li>
	    	<li><a href="{{url_for('admin.link')}}">Link</a></li>
	    	<li><a href="{{url_for('admin.type')}}">Host Type</a></li>
	    	<li><a href="{{url_for('admin.ring')}}">Ring</a></li>
	    	<li><a href="{{url_for('admin.initdb')}}">Init DB</a></li>
	    	<li><a href="{{url_for('admin.dropdb')}}">Drop DB</a></li>
	    </ul>
</div>
{% endblock %}

{% block main%}
	<div id="main">
		<h2>Administration：</h2>
	</div>
{% endblock %}